<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:aop="http://www.springframework.org/schema/aop"  
    xmlns:jdbc="http://www.springframework.org/schema/jdbc"   
    xmlns:tx="http://www.springframework.org/schema/tx" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
           http://www.springframework.org/schema/beans/spring-beans.xsd  
           http://www.springframework.org/schema/aop   
           http://www.springframework.org/schema/aop/spring-aop.xsd  
           http://www.springframework.org/schema/tx  
           http://www.springframework.org/schema/tx/spring-tx.xsd  
           http://www.springframework.org/schema/jdbc   
           http://www.springframework.org/schema/jdbc/spring-jdbc.xsd  
           http://www.springframework.org/schema/context  
           http://www.springframework.org/schema/context/spring-context.xsd"> 

    <!--配置QuartzAction(不使用注解时) -->
    <bean id="quartzAction" class="com.quartz.action.QuartzAction">
    	<property name="quartzService" ref="quartzService"></property>
    </bean>
    
    <bean id="quartzService" class="com.quartz.service.impl.QuartzServiceImpl">
    	<property name="quartzDao" ref="quartzDao"></property>
    </bean>
    
     <bean id="quartzDao" class="com.quartz.dao.impl.QuartzDaoImpl">
    	<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
    </bean>
    
    <!-- 注入定时任务管理类 -->
    <bean id="taskManager" class="task.V4.TaskManagerImpl">
    	<property name="scheduler" ref="scheduler"></property>
    	<property name="executor" ref="executor"></property>
    </bean>
    
    
    <bean id="initTask" class="init.InitTask">
    	<property name="taskManager" ref="taskManager"></property>
    	<property name="quartzService" ref="quartzService"></property>
    </bean>
    
    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean"></bean>
    <bean id="executor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor"></bean>
</beans>
