<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:task="http://www.springframework.org/schema/task"   
    xmlns:aop="http://www.springframework.org/schema/aop"  
    xmlns:jdbc="http://www.springframework.org/schema/jdbc"   
    xmlns:tx="http://www.springframework.org/schema/tx" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
           http://www.springframework.org/schema/beans/spring-beans.xsd  
           http://www.springframework.org/schema/aop   
           http://www.springframework.org/schema/aop/spring-aop.xsd  
           http://www.springframework.org/schema/tx  
           http://www.springframework.org/schema/tx/spring-tx.xsd  
           http://www.springframework.org/schema/jdbc   
           http://www.springframework.org/schema/jdbc/spring-jdbc.xsd  
           http://www.springframework.org/schema/context  
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/task 
           http://www.springframework.org/schema/task/spring-task.xsd"> 


<bean id="Job1" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
	<property name="targetObject"><bean class="task.V1.V12.Job1"/></property>
	<property name="targetMethod" value="doJob1"/>
	<property name="concurrent" value="false"/><!-- 作业不并发调度 -->
</bean>



<bean id="Job2" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
	<property name="targetObject"><bean class="task.V1.V12.Job2"/></property>
	<property name="targetMethod" value="doJob2"/>
	<property name="concurrent" value="false"/><!-- 作业不并发调度 -->
</bean>

<!-- SimplerTriggerBean 触发器 -->
<bean id="simplerTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
	<property name="JobDetail" ref="Job1"></property>
	<property name="startDelay" value="0"/><!-- 调度工厂实例化后 经过0秒开始执行调度 -->
	<property name="repeatInterval" value="2000"></property><!-- 每2s执行一次 -->
</bean>


<!-- CronTriggerBean -->
<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
	<property name="JobDetail" ref="Job2"></property>
	<property name="cronExpression" value="0/5 * * * * ?"></property>
</bean>


<!-- 调度器 -->
<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
	<property name="triggers">
		<list>
			<ref bean="cronTrigger"/>
			<ref bean="simplerTrigger"/>
		</list>
	</property>

</bean>


</beans>